@{
    IEnumerable<DolphinWeb.Models.ClientResp> Model_Clients = ViewBag.Clients;
    IEnumerable<DolphinWeb.Models.StateObj> Model_States = ViewBag.States;
    IEnumerable<DolphinWeb.Models.UserInfo> Model_Engineers = ViewBag.Engineers;
    IEnumerable<DolphinWeb.Models.BrandObj> Model_Brands = ViewBag.Brands;
    DolphinWeb.Models.TerminalObj Model_Terminal = ViewBag.Terminal;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-12 d-flex align-items-stretch grid-margin">

        <div class="row flex-grow">


            @{if (!String.IsNullOrEmpty(@ViewBag.ErrorMsg))
                {
                    <div class="alert alert-danger" role="alert" style="margin:auto;width:100%;">
                        @ViewBag.ErrorMsg
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                }

            }

            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Message</h4>
                        <form class="forms-sample" method="post" action="" id="validate-form" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Terminal No</label>
                                        <div class="col-sm-9">
                                        <input type="text" class="form-control" name="TerminalNo" value="@((Model_Terminal != null) ? Model_Terminal.TerminalNo : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Terminal Reference</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="TerminalRef" value="@((Model_Terminal != null) ? Model_Terminal.TerminalRef : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Serial No</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="SerialNo" value="@((Model_Terminal != null) ? Model_Terminal.SerialNo : string.Empty)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Enginner</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="Engineer" required>
                                                <option value="@(Model_Terminal.Engineer)">@(Model_Terminal.FirstName) @(Model_Terminal.MiddleName) @(Model_Terminal.LastName)</option>

                                                @foreach (var n in Model_Engineers)
                                                {
                                                    <option value="@n.UserName">@n.FirstName @n.MiddleName @n.LastName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Brand</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="BrandId" required>
                                                <option value="@(Model_Terminal.BrandId)">@(Model_Terminal.BrandName)</option>

                                                @foreach (var n in Model_Brands)
                                                {
                                                    <option value="@n.BrandId">@n.BrandName </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Location</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="Location" id="exampleTextarea1" rows="2" value="@((Model_Terminal != null) ? Model_Terminal.Location : string.Empty)">@((Model_Terminal != null) ? Model_Terminal.Location : string.Empty)</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Location Alias</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="TerminalAlias" value="@((Model_Terminal != null) ? Model_Terminal.TerminalAlias : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Sex</label>
                                            <div class="col-sm-4">
                                                <div class="form-radio">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="Sex" id="membershipRadios1" value="Male" required>
                                                        Male
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-radio">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="Sex" id="membershipRadios2" value="Female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Institution</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="ClientId" required>
                                                <option value="@(Model_Terminal.ClientId)">@(Model_Terminal.ClientName)</option>

                                                @foreach (var n in Model_Clients)
                                                {
                                                    <option value="@n.ClientId">@n.ClientName </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="StateId" required>
                                                <option value="@(Model_Terminal.StateId)">@(Model_Terminal.StateTitle)</option>

                                                @foreach (var n in Model_States)
                                                {
                                                    <option value="@n.StateId">@n.StateTitle </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Is Under Support</label>
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" Value="true" name="IsUnderSupport">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Is Terminal Active</label>
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" Value="true" name="IsTerminalActive">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;">

                                <div class="col-md-6">
                                    <div class="form-group row">

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-sm-8 pull-right">
                                            <button type="submit" class="btn btn-primary mr-2"><i class="mdi mdi-file-document"></i>Update Record</button>
                                            <button class="btn btn-light" type="reset"><i class="mdi mdi-refresh"></i>Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





