@{ 
    var currentTime = DateTime.Now;
    var ipAddress = new DolphinService.ApplicationLogic.AuditService().DetermineIPAddress();
    var computerName = new DolphinService.ApplicationLogic.AuditService().DetermineCompName(ipAddress);
    var mservice = new DolphinService.Common.Infrastructure();
    var _menu = mservice.GetMenu(User.Identity.Name);
    //var _menu = _service.GetMenuByUsername(User.Identity.Name);
    var _displayName = mservice.GetUserInfo(User.Identity.Name);
}

<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dolphin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/icon-s.jpg" />


    <style>
        #myLoader {
            z-index: 1000;
            display: none;
            padding-top: 100px;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
    </style>
</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="index-2.html"></a>
                <a class="navbar-brand brand-logo-mini" href="index-2.html"></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Schedule <span class="badge badge-primary ml-1">New</span></a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><i class="mdi mdi-elevation-rise"></i>Reports</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-message-text-outline"></i>
                            <span class="count bg-warning">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item py-3">
                                <p class="mb-0 font-weight-medium float-left">
                                    You have 7 unread mails
                                </p>
                                <span class="badge badge-inverse-info badge-pill float-right">View all</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1">
                                        David Grey
                                        <span class="float-right font-weight-light small-text text-gray">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text text-gray">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1">
                                        Johnson
                                        <span class="float-right font-weight-light small-text text-gray">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count bg-success">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item py-3">
                                <p class="mb-0 font-weight-medium float-left">
                                    You have 4 new notifications
                                </p>
                                <span class="badge badge-pill badge-inverse-info float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-inverse-success">
                                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-inverse-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-inverse-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block color-setting">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-tune"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="mr-3">Hello, @_displayName.UserDetails.FirstOrDefault().FirstName !</span><img class="img-xs rounded-circle" src="~/assets/UserImg/@_displayName.UserDetails.FirstOrDefault().UserImg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i></div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"><i class="mdi mdi-account-outline mr-0 text-gray"></i></div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-alarm-check mr-0 text-gray"></i></div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                                Manage Accounts
                            </a>
                            <a class="dropdown-item">
                                Change Password
                            </a>
                            @*<a class="dropdown-item" href="@Url.Action("LockAccount", new { UserName = User.Identity.Name })" onclick="pageLoader()">
                                Lock Screen
                            </a>*@
                            <a class="dropdown-item" href="@Url.Action("Logout")" onclick="pageLoader()">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close mdi mdi-close"></i>
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Template Skins</p>
                    </div>
                    <div class="sidebar-bg-options selected" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <div class="sidebar-bg-options" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <p class="settings-heading font-weight-bold mt-2">Header Skins</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles primary"></div>
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles pink"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                    <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                </div>
                <ul class="chat-list">
                    <li class="list active">
                        <div class="profile"><img src="~/assets/images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                        <div class="info">
                            <p>Thomas Douglas</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">19 min</small>
                    </li>
                    <li class="list">
                        <div class="profile"><img src="~/assets/images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                        <div class="info">
                            <div class="wrapper d-flex">
                                <p>Catherine</p>
                            </div>
                            <p>Away</p>
                        </div>
                        <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                        <small class="text-muted my-auto">23 min</small>
                    </li>
                    <li class="list">
                        <div class="profile"><img src="~/assets/images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                        <div class="info">
                            <p>Daniel Russell</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">14 min</small>
                    </li>
                    <li class="list">
                        <div class="profile"><img src="~/assets/images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                        <div class="info">
                            <p>James Richardson</p>
                            <p>Away</p>
                        </div>
                        <small class="text-muted my-auto">2 min</small>
                    </li>
                    <li class="list">
                        <div class="profile"><img src="~/assets/images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                        <div class="info">
                            <p>Madeline Kennedy</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">5 min</small>
                    </li>
                    <li class="list">
                        <div class="profile"><img src="~/assets/images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                        <div class="info">
                            <p>Sarah Graves</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">47 min</small>
                    </li>
                </ul>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="profile-image"> <img src="~/assets/UserImg/@_displayName.UserDetails.FirstOrDefault().UserImg" alt="image" /> <span class="online-status online"></span> </div>
                            <div class="profile-name">
                                <p class="name">@_displayName.UserDetails.FirstOrDefault().FirstName @_displayName.UserDetails.FirstOrDefault().MiddleName @_displayName.UserDetails.FirstOrDefault().LastName </p>
                                <p class="designation">@_displayName.UserDetails.FirstOrDefault().Title</p>
                                @currentTime
                            </div>

                        </div>
                    </li>

                    @{ if (_menu == null)
            {
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">No Menu</span>
                                </a>
                            </li>
                        }
                        else

                        {
                            var parent = _menu.UserMenuDetails.Where(menu => menu.MenuId == 0);
                            //var menuItem=new List<>
                            //filter Parent Menu
                            foreach (var parentMenu in parent)
                            {
                                bool hasChild = true;
                                hasChild = _menu.UserMenuDetails.Where(menu => menu.MenuId == parentMenu.ItemId).Count() > 0 ? true : false;
                                if (hasChild)
                                {
                                    var childmenu = _menu.UserMenuDetails.Where(menu => menu.MenuId == parentMenu.ItemId);
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="collapse" href="#@parentMenu.ItemAlias" aria-expanded="false" aria-controls="@parentMenu.ItemAlias">
                                            <img class="menu-icon" src="~/assets/images/menu_icons/@parentMenu.ItemIcon" alt="menu icon">
                                            <span class="menu-title">&nbsp;&nbsp;&nbsp;&nbsp;@parentMenu.ItemName</span>
                                            <i class="menu-arrow"></i>
                                        </a>
                                        <div class="collapse" id="@parentMenu.ItemAlias">
                                            <ul class="nav flex-column sub-menu">
                                                @foreach (var children in childmenu)
                                                {
                                                    <li class="nav-item"> <a class="nav-link" id="PageLoad" href="@children.ExternalURL"> @children.ItemName </a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>

                                }
                                else
                                {
                                    @:
                                    <li class="nav-item">
                                        <a class="nav-link" id="PageLoad" href="@parentMenu.ItemUrl">
                                            <img class="menu-icon" src="~/assets/images/menu_icons/@parentMenu.ItemIcon" alt="menu icon"> <span class="menu-title">@parentMenu.ItemName</span>
                                        </a>
                                    </li>
                                }
                            }

                        }
                    }


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()



                    <div class="col-md-12 col-sm-6 grid-margin stretch-card" id="myLoader" style="Width:100%;max-width:100%;">
                        <div class="bar-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; Dolphin @DateTime.Now.Year. All rights reserved.</span>

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/assets/js/dashboard.js"></script>

    <script src="~/assets/js/data-table.js"></script>


    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/iCheck.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/select2.js"></script>
    <!-- End custom js for this page-->



    <script type="text/javascript">
                    $("#validate-form").submit(function () {

                        $("#myLoader").show();
                    })

                    $("#PageLoad").click(function () {

                        $("#myLoader").show();
                    })
    </script>
</body>
</html>

