@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="content-wrapper d-flex align-items-center auth">
    <div class="row w-100">
        <div class="col-lg-8 mx-auto">
            <div class="row">
                <div class="col-lg-6 bg-white">
                    <div class="auth-form-light text-left p-5">
                        <h4>Dolphin</h4>
                      @{if (!String.IsNullOrEmpty(@ViewBag.ErrorMsg))
                          {
                            <div class="alert alert-danger" role="alert" style="margin:auto">
                                @ViewBag.ErrorMsg
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                          }
                          else if (!String.IsNullOrEmpty(ViewBag.SuccessMsg))
                          {
                            <div class="alert alert-success" role="alert" style="margin:auto">
                                @ViewBag.SuccessMsg
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                          }
                    }
                        <form class="pt-4" action="/dolphin/forgotpassword" method="post" id="validate-form">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="email" class="form-control" id="exampleInputPassword1" name="Email" placeholder="service@dolphin.com" required>
                                <i class="mdi mdi-envelope"></i>
                            </div>
                            
                            <div class="mt-5">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium" >Send Notification</button>
                            </div>
                            <div class="mt-2 w-75 mx-auto">
                                <div class="form-check form-check-flat">
                                    @*<label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" required>
                                        I accept terms and conditions
                                    </label>*@
                                </div>
                            </div>
                            <div class="mt-2 text-center">
                                <a href="@Url.Action("/Index")" class="auth-link text-black"><span class="font-weight-medium">Sign in</span></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 register-half-bg d-flex flex-row">
                    <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; Dolphin @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>
</div>

